.App {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.App-header {
  background-color: #aaf;
  color: white;
  font-weight: bold;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  padding: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}

.Slots {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100vw;
}

.Slots-button {
  background-color: #aaf;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  width: 10rem;
  height: 4rem;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1.5em;
  margin: 1rem;
}

.Slots-button:hover {
  background-color: rgb(98, 98, 255);
}

.Slots-checkbox {
  display: flex;
  flex-flow: row nowrap;
}

.Slots-checkbox-input {
  margin-right: 0.5rem;
}

.Slots-checkbox-label {
  font-family: Arial, Helvetica, sans-serif;
}

.crazy {
  -webkit-animation: crazy 0.5s linear infinite both;
  animation: crazy 0.5s linear infinite both;
}

@-webkit-keyframes crazy {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes crazy {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  10% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  30% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  50% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  70% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  90% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.rotate {
  -webkit-animation: rotate-hor-center 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-hor-center 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}
@keyframes rotate-hor-center {
  0% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}

.Slots-line {
  display: flex;
  flex-flow: row;
}

.Slots-line-slot {
  flex-shrink: 3;
  border: 1px dotted #a0a0a1;
  border-radius: 5px;
  width: 12rem;
  height: 10rem;
  margin: 0 1rem;
  font-size: 2em;
  text-align: center;
  line-height: 10rem;
}

.Slots-line-slot-subtitle {
  text-align: center;
  font-size: 0.8em;
}

.Slots-line-results-true {
  color: green;
  font-size: 3em;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}

.Slots-line-results-false {
  color: red;
  font-size: 3em;
  font-weight: bold;
  margin: 1rem 0;
  text-align: center;
}
